#bookDiv{
  display: flex;
  width: 18rem;
  border: 2px solid green;
  padding: 5px;
  margin: 10px;
}



#root{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #7e04de;
  margin-bottom: 6.5rem;
  padding: 0 0 1em 0;
  height: 85vh;
  overflow: auto;
}


#parent{
  display: flex;
  margin: 3rem 1.8rem 0;
  max-width: 20rem;
  height: 13rem;
  padding: 1em;
  border-radius: .3em;
  box-shadow: 0 0 5px #7e04de;
  overflow: auto;
}

#parent:hover{
  background-color: #c374ff;
}

#parent span{
  font-weight: bolder;
  margin: .2em;
  font-size: 1rem;
}

#parent p{
  justify-content: center;
}

#bookInfo{
  margin: 0 .5em;
}

img{
  height: 100%;
  box-shadow: 0 0 2px 2px #7e04de;
  border-radius: .4em;
}